/DevOpsTesting/packages
/DevOpsTesting/MyWebApp/obj
/DevOpsTesting/MyWebApp/bin
/DevOpsTesting/MainDBProj/bin
/DevOpsTesting/MainDBProj/obj
/DevOpsTesting/.vs
/DevOpsTesting/MainDBProj/MainDBProj.dbmdl
/DevOpsTesting/MySecurityDB/Import Schema Logs
/DevOpsTesting/MySecurityDB/obj
/DevOpsTesting/MySecurityDB/bin
